*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.main{
    margin: 20px auto;
    max-width: 1100px;
    background-color:rgb(187, 187, 187);
    padding: 30px 2%;
    border-radius: 20%;
}

.single-card h3{
    color: antiquewhite;
    text-align: center;
    height: 50px;
}
    
.single-card img{
     border-left: 50%; /* rhaul me ajuda por favor */
}

header h1{
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}